.heading {
  margin: 0;
  font-size: 46px;
  font-weight: 400;
  line-height: 65.78px;
  letter-spacing: 0.17000000178813934px;
  text-align: center;
  color: #4f4f4f;
  width: 100%;
  align-self: center;
  padding-top: calc(50vh - 80px);
  padding-bottom: calc(50vh - 82px);
}
