.heading {
  margin: 0;
  font-size: 46px;
  font-weight: 400;
  line-height: 65.78px;
  letter-spacing: 0.17000000178813934px;
  text-align: center;
  color: #4f4f4f;
  width: 100%;
  align-self: center;
  padding-top: 250px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 32px;
}

.subheading {
  margin: 0;
  font-size: 46px;
  font-weight: 400;
  line-height: 65.78px;
  letter-spacing: 0.17000000178813934px;
  text-align: left;
  color: #4f4f4f;
  width: 100%;
  padding: 0 0 24px 0;
}

.tableContainer {
  width: 63.5%;
}
