.section {
  display: flex;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 35px 16px 24px 32px;
  height: 100%;
  width: 100%;
}

.subheading {
  margin: 0;
  font-size: 46px;
  font-weight: 400;
  line-height: 65.78px;
  letter-spacing: 2.17000000178813934px;
  text-align: left;
  color: #4f4f4f;
  width: 100%;
  padding: 0 0 17px 0;
  font-family: Roboto, sans-serif;
}

.tableContainer {
  width: 912px;
}

.itemTitle {
  font-weight: 600;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.17000000178813934px;
  text-align: left;
  width: 182.4px;
}

.itemTitleCursor {
  font-weight: 600;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.17000000178813934px;
  text-align: left;
  width: 182.4px;
  cursor: pointer;
  padding-left: 0;
}

.arrow {
  width: 10px;
  height: 10px;
}

.arrowUp {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
}

.arrowDown {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}

.item {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.17000000178813934px;
  text-align: left;
  width: 182.4px;
  max-width: 182.4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.itemRow {
  transition: 0.3s ease;
}

.itemRow:hover {
  cursor: pointer;
  background-color: #2196f30a;
}
